name: node-app-ci

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  build-and-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install Dependencies
        run: npm install

      - name: Semgrep Scan
        uses: returntocorp/semgrep-action@v1
        with:
          config: "p/ci"

      - name: Build Docker Image
        run: docker build -t node-app:latest .

      - name: Trivy Scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: "node-app:latest"
          severity: "CRITICAL"
          exit-code: "1"
          ignore-unfixed: true

      - name: Docker Login
        if: success()
        run: echo "${{ secrets.DOCKER_PASS }}" | docker login -u "${{ secrets.DOCKER_USER }}" --password-stdin

      - name: Push Image
        if: success()
        run: |
          docker tag node-app:latest gtm123/node-app:latest
          docker push gtm123/node-app:latest
